extends layout

block content
  h1= title
  p Welcome to #{title} the platform to build new apps with a base.
  div
    a(href="/login") Login
  div
    a(href="/register") Register
  div
    a(href="/dashboard") Dashboard
