.main {
  background-color: #F0F0F2;
  .top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 1em;
    background-color: #fff;
  }
  .content-title {
		padding: 0.75em 0;
		text-align: center;
	}
}
