aside.sidebar {
  background-color: #31383E;
  .top {
    height: 80px;
    padding: 1.5em;
    background-color: #22272A;
    color: #fff;
  }
  .description {
    padding: 2.5em 1em;
    color: #eee;
  }
  .items {
    padding-bottom: 5em;
    a {
      padding: 1em;
      font-size: 1.1em;
      color: #ccc;
      display: block;
      text-decoration: none;
    }
  }
  .bottom {
    padding: 1em;
    text-align: center;
    a {
      color: #21abcd;
      text-decoration: none;
    }
  }
}