aside.sidebar
	.sidebar-purple
		.top
			h1 Demostenes
		.description
			p Powered by 
			h2 Express
		.items
			.nav-item
				i.fa.fa-home
				a(href="/dashboard") Dashboard
			.nav-item
				i.fa.fa-list
				a(href="/dashboard/items") Items
			.nav-item
				i.fa.fa-circle
				a(href="/dashboard/items/1") Item
			.nav-item
				i.fa.fa-users
				a(href="/dashboard/users") Users
			.nav-item
				i.fa.fa-user
				a(href="/dashboard/users/1") User
			.nav-item
				i.fa.fa-line-chart
				a(href="/dashboard/graphs") Graphs
			.nav-item
				i.fa.fa-id-card
				a(href="/dashboard/profile") Profile
			.nav-item
				i.fa.fa-cog
				a(href="/dashboard/settings") Settings
		.bottom
			i.fa.fa-bug
			a(href="/dashboard/report") Report a bug
