aside.sidebar
	.sidebar-purple
		.top
			h1 Demostenes
		.description
			p Powered by 
			h2 Express
		.items
			.nav-item
				i.fa.fa-home(title="Dashboard")
				a(href="/dashboard") Dashboard
			.nav-item
				i.fa.fa-list(title="Items")
				a(href="/dashboard/items") Items
			.nav-item
				i.fa.fa-circle(title="Item")
				a(href="/dashboard/items/1") Item
			.nav-item
				i.fa.fa-users(title="Users")
				a(href="/dashboard/users") Users
			.nav-item
				i.fa.fa-user(title="User")
				a(href="/dashboard/users/1") User
			.nav-item
				i.fa.fa-line-chart(title="Graphs")
				a(href="/dashboard/graphs") Graphs
			.nav-item
				i.fa.fa-id-card(title="Profile")
				a(href="/dashboard/profile") Profile
			.nav-item
				i.fa.fa-cog(title="Profile")
				a(href="/dashboard/settings") Settings
		.bottom
			i.fa.fa-bug(title="Report a bug")
			a(href="/dashboard/report") Report a bug
