.items-grid {
	display: grid;
}

.grid-25 {
	grid-template-columns: 1fr 1fr 1fr 1fr
}

.grid-20 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

.grid-50 {
	grid-template-columns: 1fr 1fr
}

.grid-33 {
	grid-template-columns: 1fr 1fr 1fr
}
