.content {
  background-color: #F0F0F2;
  .top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 1em;
    background-color: #fff;
  }
  .items {
    .items-title {
      padding: 2em 0 1em;
      text-align: center;
    }
    .items-grid {
      display: grid;
      grid-template-columns: 4fr 4fr 4fr
    }
  }
}