extends layout

block content
	.home
		h1= title
		p Welcome to #{title} the platform to build new apps without delay.
		div.options
			a(href="/login") Login
		div.options
			a(href="/register") Register
		div.options
			a(href="/dashboard") Dashboard
