.btn {
	display: block;
	margin: 0 auto;
	text-decoration: none;
	padding: 1em;
	background-color: transparent;
	text-align: center;
	border-radius: 3px;
}

.btn-normal {
	width: 150px;
}

.btn-big {
	width: 220px;
}

.btn--ok {
	color: #333;
	border: 1px solid #888;
	&:hover {
		background-color: #21abcd;
		color: #fff;
		border-color: #21dddd;
	}
}

.btn--warning {
	border-color: transparent;
	background-color: #ffe135;
	color: #444;
	&:hover {
		background-color: transparent;
		border: 1px solid #ffe135;
		color: #ffe135;
	}
}

.btn--danger {
	border-color: transparent;
	background-color: #e30022;
	color: #fff;
	&:hover {
		background-color: transparent;
		border:1px solid #e30022;
		color: #e30022;
	}
}
