.items-card {
	.item {
		background-color: #fff;
		text-align: center;
		color: #332;	
	}

	.card-simple {
		.item-info {
			position: absolute;
			top: 1em;
			right: 1em;
		}
		.item-icon {
			i {
				margin: 1em auto;
				font-size: 40px;
				display: block;
			}
			img {
				margin: 1em auto;
				height: 40px;
				display: block;
			}
		}
		.item-title {
			margin-bottom: 2em;
		}
		.item-description {
			margin-bottom: 2em;
		}
		.item-button {
			margin: 1em 0;
		}
	}
}

