extends ../layout

block content
	.register
		.container
			form.form-register(action="/register" method="post")
				h1 Sign Up
				div.form-group
					label(for="name") Email
					input(type="text" name="name" required)
				div.form-group
					label(for="email") Email
					input(type="email" name="email" required)
				div.form-group
					label(for="password") Password
					input(type="password" name="password" required)
				div.form-group
					input(type="submit" value="Register")

