.home {
	.options {
		padding: 3.1em 0em 0;
		margin: 1em;
		width: 200px;
		height: 150px;
		border: 1px solid #0095b6;
		display: inline-block;
		text-align: center;
		a {
			color: #c41e3a;
			text-decoration: none;
		}
	}
}
