extends ../layout

block content
	.dashboard
		include ../partials/sidebar
		main.main
			include ../partials/header
			.content
				h1.content-title A couple of graphs
				.items-grid.items-graphs.grid-50
					.item
						canvas(id="chartBars")
					.item
						canvas(id="chartLine")
					
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js")
	script.
		var chart_bars = document.getElementById('chartBars')
		var chartBars = new Chart(chart_bars, {
			type: 'bar',
			data: {
				labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
				datasets: [{
					label: '# of Votes',
					data: [12, 19, 3, 5, 2, 3],
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)'
					],
					borderColor: [
						'rgba(255,99,132,1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			}, 
			options: {
				responsive: false
			}
		})
		var chart_line = document.getElementById('chartLine')
		var chartLine = new Chart(chart_line, {
			type: 'line',
			data: {
				labels: ['Januay', 'February', 'March', 'April', 'May', 'June', 'July'],
				datasets: [{
					label: 'My First dataset',
					backgroundColor: '#fff',
					borderColor: '#b31b1b',
					data: [
						15, 20, 39, 60, 10, 20, 30
					],
					fill: false,
				},{
					label: 'My Second dataset',
					fill: false,
					backgroundColor: '#fff',
					borderColor: '#00bfff',
					data: [
						24, 32, 12, 42, 12, 20, 35
					],
				}]
			}, 
			options: {
				responsive: false,
				title: {
					display: true,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
		})
