extends ../layout

block content
	.dashboard
		include ../partials/nav
		main.content
			.top
				.left
					p A text in the left
				.right
					p The icon in the right
			.items
				h1.items-title A title for these items
				.items-grid.items-card
					.item
						.item-info
							img(src="", alt="Item information icon")
						.item-icon
							img(src="", alt="Item icon image")
						.item-title
							h2 A title for the item
						.item-description
							p A description for the item, normally this should be at least 200 characters length, but it could variate.
						.item-button
							a(href="#") Link to something
		