aside.sidebar
	.sidebar-purple
		.top
			h1 Demostenes
		.description
			p Hecho por 
			h2 Jail
		.items
			a(href="/dashboard") Dashboard
			a(href="/dashboard/items") Items
			a(href="/dashboard/item") Item
			a(href="/dashboard/users") Users
			a(href="/dashboard/user") User
			a(href="/dashboard/graphs") Graphs
			a(href="/dashboard/profie") Profile
		.bottom
			a(href="/dashboard/report") Report a bug
